version: "3.8"

services:

  postgres:
    image: postgres:15
    container_name: login_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: login_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app_network

  minio:
    image: minio/minio
    container_name: minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - app_network

  redis:
    image: redis:7
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app_network

  node_app:
    build: .
    container_name: node_app
    restart: always
    depends_on:
      - redis
      - postgres
      - minio
    ports:
      - "3000:3000"
    networks:
      - app_network

volumes:
  pgdata:
  minio_data:

networks:
  app_network:
